*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: rgb(133, 126, 126); */
}
.project{

    display: flex;
    
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
#bulb_off{
    margin-top: 215px;
    height: 600px;
     width: 350px;
    
}
#btn{
    margin-top: 30px;
    width: 158px;
    height: 61px;
    font-size: 38px;
    text-align: center;
    background-color: bisque;
    color: black;
    border-radius: 12px;
}
#btn:hover{
    cursor: pointer;
}